.music_text_container {
  overflow: hidden;
  cursor: move;
}

.music_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--secondary-color);
  padding: 4px;
  border-radius: 4px;
}
