.text_container {
  height: 18%;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
