.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 178px);
}

.image {
  max-height: calc(100vh - 326px);
  max-width: min-content;
  border-radius: var(--border-radius);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 24px;
}
