.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
  margin: 30px 0;
}

.table td {
  border: 1px solid var(--border-color);
}

.table td {
  padding: 8px;
  max-width: 100px;
  height: 82px;
}

.text_input {
  border: none;
  height: 100%;
  width: 100%;
  outline: 0;
}

.text_input_title {
  font-size: 18px;
}

.music_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.music_text_container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.label_text {
  color: var(--secondary-text-color);
  white-space: nowrap;
}
