.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.answer_container {
  display: flex;
  gap: 8px;
}

.controls_container {
  margin-top: 12px;
}

.controls {
  display: flex;
  gap: 8px;
}
